@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;

}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
    /*font-family: 'Noto Sans KR', monospace;*/

    background-color: white; /* 기본 배경색을 하얀색으로 변경 */
}

.intro_bg{
    width:100%;
    height:130px;
    position: static;
}


.intro_name{
    background-color: white; /* 기본 배경색을 하얀색으로 변경 */
    text-align: center;
}

.intro_name a center{
    font-size: 70px;
    /*font-family: 'Noto Serif KR', sans-serif; !* 변경된 폰트 적용 *!*/
}

.intro_png{
    width: 100%;
    max-height: 25px;
}

.header{
    display: flex;
    width: 100%;
    justify-content: flex-end; /* 내용을 오른쪽으로 정렬합니다. */
    margin: auto;
    background: white; /* 배경색 변경 */
    font-size: 13px;
}

.nav{
    display: flex;
    height: 14px;
    margin-left: auto; /* 나머지 공간을 왼쪽으로 정렬합니다. */

}

.nav li{
    padding-top: 10px;

    margin-left: 20px;
}

.nav li a1{
    color: rgb(169, 165, 165);
    cursor: pointer;
}

.menu_bar {
    max-width: 100%;
    height: 33px;
    position: relative;
    background-color: white; /* 배경색 변경 */
    display: flex; /* Flexbox를 활성화합니다 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

.menu_bar_inside {
    display: flex; /* 이 또한 flex container로 만듭니다 */
    width: 100%; /* 부모 요소의 전체 너비를 차지 */
    justify-content: space-around; /* 항목들 사이에 공간을 균등하게 분배 */
    padding: 0; /* 필요에 따라 패딩 조정 */
    list-style: none; /* 기본 리스트 스타일 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.menu_bar_inside a,
.menu_bar_inside a1 {
    font-size: 25px;
    /*font-family: 'Noto Serif KR', sans-serif; !* 변경된 폰트 적용 *!*/
    color: black; /* 색상 설정 */
    text-decoration: none; /* 밑줄 제거 */
    padding: 0 10px; /* 좌우 패딩 추가 */
    cursor: pointer;
    background-color: transparent;
}

.menu_bar .menu_bar_inside a:hover,
.menu_bar .menu_bar_inside a1:hover {
    transform: scale(1.3);
    color: rgb(128, 128, 128);
}

.menu_bar_bottom_line {
    height: 1.5px; /* 선의 두께 설정 */
    background-color: #000; /* 선의 색상을 검은색으로 설정 */
    width: 100%; /* 선의 너비를 뷰포트 너비로 설정 */
    margin-top: 25px; /* 상단 여백 설정 */
}
.rc_bar{
    width: 100%;
    max-height: 45px;
    margin-top:10px;
    position: relative;
    display: flex;
}

.rc_bar h3{
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif; /* 변경된 폰트 적용 */
    margin-left: 70px;
}

.rc_bar a{
    font-family: 'Noto Sans KR', sans-serif; /* 변경된 폰트 적용 */
    font-size: 17px;
    margin-top: 25px;
    margin-left: 20px;
}

.rc_bar a1{
    font-family: 'Noto Sans KR', sans-serif; /* 변경된 폰트 적용 */
    font-size: 17px;
    margin-top: 25px;
    margin-left: 20px;
    color: red;
}
.reservation-list {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.reservation-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.reservation-item:last-child {
    border-bottom: none;
}