@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;

}

/* wrap 클래스 스타일링 */
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
    /*font-family: 'Noto Sans KR', monospace;*/

    background-color: white; /* 기본 배경색을 하얀색으로 변경 */
}

.intro_bg{
    width:100%;
    height:130px;
    position: static;
}


.intro_name{
    background-color: white; /* 기본 배경색을 하얀색으로 변경 */
    text-align: center;
}

.intro_name a center{
    font-size: 70px;
    /*font-family: 'Noto Serif KR', sans-serif; !* 변경된 폰트 적용 *!*/
}

.intro_png{
    width: 100%;
    max-height: 25px;
}

.header{
    display: flex;
    width: 100%;
    justify-content: flex-end; /* 내용을 오른쪽으로 정렬합니다. */
    margin: auto;
    background: white; /* 배경색 변경 */
    font-size: 13px;
}

.nav{
    display: flex;
    height: 14px;
    margin-left: auto; /* 나머지 공간을 왼쪽으로 정렬합니다. */

}

.nav li{
    padding-top: 10px;

    margin-left: 20px;
}

.nav li a1{
    color: rgb(169, 165, 165);
    cursor: pointer;
}

.menu_bar {
    max-width: 100%;
    height: 33px;
    position: relative;
    background-color: white; /* 배경색 변경 */
    display: flex; /* Flexbox를 활성화합니다 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

.menu_bar_inside {
    display: flex; /* 이 또한 flex container로 만듭니다 */
    width: 100%; /* 부모 요소의 전체 너비를 차지 */
    justify-content: space-around; /* 항목들 사이에 공간을 균등하게 분배 */
    padding: 0; /* 필요에 따라 패딩 조정 */
    list-style: none; /* 기본 리스트 스타일 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.menu_bar_inside a,
.menu_bar_inside a1 {
    font-size: 25px;
    /*font-family: 'Noto Serif KR', sans-serif; !* 변경된 폰트 적용 *!*/
    color: black; /* 색상 설정 */
    text-decoration: none; /* 밑줄 제거 */
    padding: 0 10px; /* 좌우 패딩 추가 */
    cursor: pointer;
    background-color: transparent;
}

.menu_bar .menu_bar_inside a:hover,
.menu_bar .menu_bar_inside a1:hover {
    transform: scale(1.3);
    color: rgb(128, 128, 128);
}

.menu_bar_bottom_line {
    height: 1.5px; /* 선의 두께 설정 */
    background-color: #000; /* 선의 색상을 검은색으로 설정 */
    width: 100%; /* 선의 너비를 뷰포트 너비로 설정 */
    margin-top: 25px; /* 상단 여백 설정 */
}



.menu-container {
    display: grid;
    /* 그리드 아이템의 최소 너비를 늘리고, 1fr로 유연하게 채우기 */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 예시로 250px로 설정 */
    gap: 25px; /* 컨테이너 간의 간격을 늘림 */
    padding:80px;
}
.product-item {
    border: none;
    padding: 10px;
    text-align: left;
    height: 300px;
    weight: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#name{
    font-family: 'Noto Sans KR', sans-serif;
}
.product-item img {
    width: 100%; /* 이미지 너비를 컨테이너의 100%로 설정 */
    height: 60%; /* 이미지 높이를 컨테이너의 60%로 설정 */
    object-fit: cover; /* 이미지가 꽉 차게 설정 */
    margin: auto;
}

/* product_semi_info 스타일 추가 */
#semi {
    margin-top: 5px;
    font-size: 0.8em; /* 글씨 크기를 줄임 */
    color: grey; /* 글씨 색상을 회색으로 변경 */
    /*font-family: 'Noto Sans KR', monospace;*/
}

#price {
    margin-top: 6px; /* 위쪽 여백 추가 */
    font-size: 1.2em; /* 글씨 크기 증가 */
    /*font-family: 'Noto Sans KR', monospace;*/
    color: #EF6C00; /* 글씨 색상을 오렌지색으로 설정 */
}

#gram {
    margin-top: 6px; /* 위쪽 여백 추가 */
    font-size: 0.8em; /* 글씨 크기 증가 */
    /*font-family: 'Noto Sans KR', monospace;*/
    color: grey; /* 글씨 색상을 오렌지색으로 설정 */
}

/* 모바일 및 태블릿 뷰 (화면 너비가 768px 이하) */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        margin-left: 0;
        justify-content: center;
        padding-top: 10px;
    }

    .menu_bar_inside {
        transform: translate(0, 10%);
        text-align: center;
    }

    .menu-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .product-item {
        height: auto; /* 모바일에서는 높이를 자동으로 조절 */
    }

    .modal-content {
        flex-direction: column;
        width: 90%; /* 모달의 너비를 줄입니다 */
    }

    .modal-image, .modal-info {
        width: 100%; /* 모달 내부 요소들의 너비를 조절합니다 */
    }

    /* 필요한 추가 스타일링 */
}

/* 태블릿 및 데스크탑 뷰 (화면 너비가 768px 초과) */
@media (min-width: 769px) {
    .menu-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .product-item {
        height: 300px; /* 데스크탑에서는 고정 높이 */
    }

    /* 필요한 추가 스타일링 */
}

